---
name: create_children_for_current_user
resource: User
redirect_to: /user_nested_customizations
fields:
  customizations:
    modules/nested_customizations/child:
      _destroy:
      property_options:
        prepopulate: 2
      properties:
        line:
---
{% form %}
  <h2>Children</h2>
  <div style="border: 1px solid 000;">
  {% for el in form.fields.customizations['modules/nested_customizations/child'].data %}
    <div class="row">
      <input type="hidden" name="{{ el.id.name }}" value="{{ el.id.value }}">
      <div class="form-group col-6">
        <label for="name">Name:</label>
        <input name="{{ el.properties.line.name }}" value="{{ el.properties.line.value }}" type="text" class="form-control">
      </div>
      <div class="form-group col-6">
        <label for="name">Should be destroyed? (type in 1 if yes, leave blank if no)</label>
        <input name="{{ el._destroy.name }}" type="text" class="form-control">
      </div>
    </div>
  {% endfor %}
  </div>
  <button class="btn btn-primary btn-lg">Save</button>
{% endform %}
