---
name: save_parent
resource: modules/nested_customizations/parent
resource_owner: anyone
redirect_to: "/edit_parent_customization/{{ form.id }}"
flash_notice: Contact was successfully created.
fields:
  properties:
    name:
  customizations:
    modules/nested_customizations/child:
      _destroy:
      property_options:
        prepopulate: 2
      properties:
        line:
---
{% form %}
  <div class="row">
    <div class="form-group col-6">
      <label for="name">Name:</label>
      <input name="{{ form.fields.properties.name.name }}" value="{{ form.fields.properties.name.value }}" id="name" type="text" class="form-control">
      {% if form_builder.errors['properties.name'] %}
        <p>{{ form_builder.errors['properties.name'] }}</p>
      {% endif %}
    </div>
  </div>
  <h2>Children</h2>
  <div style="border: 1px solid 000;">
  {% for el in form.fields.customizations['modules/nested_customizations/child'].data %}
    <div class="row">
      <input type="hidden" name="{{ el.id.name }}" value="{{ el.id.value }}">
      <div class="form-group col-6">
        <label for="name">Name:</label>
        <input name="{{ el.properties.line.name }}" value="{{ el.properties.line.value }}" type="text" class="form-control">
      </div>
      <div class="form-group col-6">
        <label for="name">Should be destroyed? (type in 1 if yes, leave blank if no)</label>
        <input name="{{ el._destroy.name }}" type="text" class="form-control">
      </div>
    </div>
  {% endfor %}
  </div>
  <button class="btn btn-primary btn-lg">Save</button>
{% endform %}
