---
name: create_company
fields:
  properties:
    email:
      validation: { presence: true }
    name:
      validation: { presence: true }
    city:
      validation: { presence: true }
    timezone:
      validation: { presence: true }
    location:
      validation: { geometry: true }
redirect_to: /companies/index
resource: modules/n_plus_one/company
async_callback_actions: {}
---

{{ form_builder.errors | json }}

{% form %}
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label for="name">Name</label>
        <input required="true" value="{{ form_builder.fields.properties.name.value }}" name="{{ form_builder.fields.properties.name.name }}" id="name" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input required="true" value="{{ form_builder.fields.properties.email.value }}" name="{{ form_builder.fields.properties.email.name }}" id="email" type="email" class="form-control" required>
      </div>
      <div class="form-group">
      <label for="timezone">Timezone</label>
      <input required="true" value="{{ form_builder.fields.properties.timezone.value }}" name="{{ form_builder.fields.properties.timezone.name }}" id="timezone" type="text" class="form-control" required>
      </div>
      <div class="form-group">
      <label for="city">City</label>
      <input required="true" value="{{ form_builder.fields.properties.city.value }}" name="{{ form_builder.fields.properties.city.name }}" id="city" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <textarea required="true" name="{{ form_builder.fields.properties.location.name }}" id="location" class="form-control" cols="200" required>
          {{- context.params.form.properties_attributes.location }}
        </textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Add company</button>
      </div>
    </div>
  </div>

{% endform -%}
