---
slug: companies/index
layout_name: application
metadata:
  full_width: true
  description: Loading related records while avoiding n+1 queries. Increase speed 10x
  docs_slug: developer-guide/tables/loading-related-records
---
{% include 'modules/n_plus_one/menu' %}

{% assign _start = "now" | to_time %}

{% graphql g = 'modules/n_plus_one/n1_companies' %}

{% assign _graph = "now" | to_time %}

<h2>Only Companies</h2>

<table class="table table-bordered table-striped scroll">
  <thead>
    <tr> <th colspan="5"> companies [{{ g.companies.total_entries }}] </th> </tr>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>url</th>
      <th>number</th>
    </tr>
  </thead>
  <tbody>
    {% for company in g.companies.results %}
      <tr>
        <td> {{ company.id }} </td>
        <td> {{ company.properties.name }} </td>
        <td> {{ company.properties.email }} </td>
        <td> {{ company.properties.url }} </td>
        <td> {{ company.properties.number }} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% assign _render = "now" | to_time %}

{% assign _graph_duration = _start | time_diff: _graph | round %}
{% assign _render_duration = _start | time_diff: _render | round %}

{% log _graph_duration, type: "benchmark-graph" %}
{% log _render_duration, type: "benchmark-render" %}
{% include 'modules/n_plus_one/benchmark-report' %}
