---
slug: companies/with_programmers_1
layout_name: application
metadata:
  full_width: true
  description: Loading related models while avoiding n+1 queries. Increase speed 10x
  docs_slug: tutorials/custom-model-types/loading-related-models
---
{% include 'modules/n_plus_one/menu' %}

{% assign _start = "now" | to_time %}

{% query_graph 'modules/n_plus_one/n1_companies' %}

{% assign _graph = "now" | to_time %}

<h2>Only Companies</h2>

<table class="table table-bordered table-striped scroll">
  <thead>
    <tr> <th colspan="4"> companies [{{ g.companies.total_entries }}] </th> </tr>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>description</th>
      <th>programmers</th>
    </tr>
  </thead>
  <tbody>
    {% for company in g.companies.results %}
      <tr>
        <td> {{ company.id }} </td>
        <td> {{ company.properties.name }} </td>
        <td> {{ company.properties.description }} </td>

        {% query_graph "modules/n_plus_one/n1_programmers", company_id: company.id, result_name: 'company_results' %}
        <td> {{ company_results.programmers.results | map: "email" | join: "<br/>" }} </td>

      </tr>
    {% endfor %}
  </tbody>
</table>

{% assign _render = "now" | to_time %}

{% assign _graph_duration = _start | time_diff: _graph | round %}
{% assign _render_duration = _start | time_diff: _render | round %}

{% log _graph_duration, type: "benchmark-graph" %}
{% log _render_duration, type: "benchmark-render" %}
{% include 'modules/n_plus_one/benchmark-report' %}
