---
slug: geo/programmers
layout_name: application
metadata:
  full_width: true
---
{% include 'modules/geolocation/menu' %}

{% assign _start = "now" | to_time %}

{% graphql g = 'modules/geolocation/programmers' %}

{% assign _graph = "now" | to_time %}

<h2>Only Programmers</h2>

<table class="table table-bordered table-striped scroll">
  <thead>
    <tr><th colspan="4"> programmers [{{ g.programmers.results | size }}/{{ g.programmers.total_entries }}] </th> </tr>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>title</th>
      <th>company_id</th>
      <th>specialties</th>
    </tr>
  </thead>
  <tbody>
    {% for programmer in g.programmers.results %}
      <tr>
        <td> {{ programmer.id }} </td>
        <td> {{ programmer.name }} </td>
        <td> {{ programmer.email }} </td>
        <td> {{ programmer.title }} </td>
        <td> {{ programmer.company_id }}</td>
        <td> {{ programmer.specialties | join: "<br />" }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% assign _render = "now" | to_time %}

{% assign _graph_duration = _start | time_diff: _graph | round %}
{% assign _render_duration = _start | time_diff: _render | round %}

{% include 'modules/geolocation/benchmark-report' %}

