---
name: contact_edit_form
resource: modules/contacts/contact
resource_owner: anyone
redirect_to: /contacts
fields:
  properties:
    name:
      validation:
        presence: true
    email:
      validation:
        presence: true
        email: true
    description:
      validation:
        presence: true
flash_notice: Contact was successfully updated.
---
<h2>Edit contact</h2>

{% form %}
  <div class="row">
    <div class="form-group col-6">
      <label for="name">Name:</label>
      <input name="{{ form.fields.properties.name.name }}" value="{{ form.fields.properties.name.value }}" id="name" type="text" class="form-control">
      {% if form.errors['properties.name'] %}
        <p>{{ form.errors['properties.name'] }}</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-6">
      <label for="email">Email:</label>
      <input name="{{ form.fields.properties.email.name }}" value="{{ form.fields.properties.email.value }}" id="email" type="email" class="form-control">
      {% if form.errors['properties.email'] %}
        <p>{{ form.errors['properties.email'] }}</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-6">
      <label for="description">Description:</label>
      <textarea name="{{ form.fields.properties.description.name }}" id="description" class="form-control">{{ form.fields.properties.description.value }}</textarea>
      {% if form.errors['properties.description'] %}
        <p>{{ form.errors['properties.description'] }}</p>
      {% endif %}
    </div>
  </div>

  <button class="btn btn-primary btn-lg">Save</button>
{% endform %}
