---
name: reset_password_form
resource: User
resource_owner: anyone
return_to: /sign-in
flash_notice: Your password has been updated. You can now log in.
fields:
  email:
    property_options:
      readonly: true
  password:
    validation:
      confirmation: true
  password_confirmation:
    property_options:
      virtual: true
authorization_policies:
  - modules/users/token_is_valid
---
{% form html-class: 'w-50' %}
  <input name="token" value="{{ context.params.token }}" type="hidden">
  <input name="email" value="{{ form.email }}" type="hidden">

  <div class="form-group">
    <label for="form_password">Password</label>
    <input class="form-control" name="{{ form_builder.fields.password.name }}" id="form_password" type="password">
  </div>
  <div class="form-group">
    <label for="form_password_confirmation">Password confirmation</label>
    <input class="form-control" name="{{ form_builder.fields.password_confirmation.name }}" id="form_password_confirmation" type="password">
    {% if form_builder.errors.password_confirmation %}
      <p>{{ form_builder.errors.password_confirmation }}</p>
    {% endif %}
  </div>

  <button class="btn btn-primary">Reset Password</button>
{% endform %}
