---
slug: admincms
metadata:
  description: Creating a module
  docs_slug: tutorials/modules/creating-module
  full_width: true
---

<h2> Module example - Admin </h2>

<div class="row">
  <div class="col-xs-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3> Customizations </h3>
      </div>
      <div class="card-body">
        {%- query_graph "modules/admincms/get_customizations", result_name: "c" -%}
        <table class="table table-compact" data-result="customizations">
          <thead>
            <tr>
              <th> Name </th>
              <th> Properties </th>
            </tr>
          </thead>
          <tbody>
            {% for customization in c.customizations.results %}
              <tr>
                <td> {{ customization.human_name }} </td>
                <td> {{ customization.properties }} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div> 
  </div>
  <div class="col-xs-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3> Pages </h3>
      </div>
      
      <div class="card-body">
        {%- query_graph "modules/admincms/get_pages", result_name: "c" -%}
        <table class="table table-compact" data-result="pages">
          <thead>
            <tr>
              <th> Slug </th>
              <th> Format </th>
            </tr>
          </thead>
          <tbody>
            {% for page in c.admin_pages.results %}
              <tr>
                <td> {{ page.slug }} </td>
                <td> {{ page.format }} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <h3>Instance assets, including this module</h3>

    <table class="table table-sm table-striped" data-result="assets">
      <thead>
        <tr>
          <th>Asset path</th>
          <th>Resolved url</th>
        </tr>
      </thead>
      <tbody>
        {% for asset in asset_url %}
          <tr>
            <td>{{ asset[0] }}</td>
            <td>{{ asset[1] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
