<script src="{{ 'UpdateProfileWithDirectUpload.js' | asset_url }}" defer></script>

<h2 id="#update-profile-with-direct-upload">Uploading Files Directly to Amazon S3 and using uploaded file as an avatar</h2>

{% form html-data-s3-direct-upload: 'form' %}
  {% for input in image_s3_upload.form_data %}
    <input type="hidden" name="{{ input[0] }}" value="{{ input[1] }}" data-s3-direct-upload-field="presign" disabled>
  {% endfor %}
  <input type="hidden" name="x-amz-meta-metadata" value="{}" data-s3-direct-upload-field="presign" disabled>
  <input type="hidden" name="action" value="{{ image_s3_upload.direct_upload_url }}" disabled>

  <div class="row">
    <div class="col-4">

      <div class="card">
        <div class="card-header">Profile text field</div>
        <div class="card-body">
          <div class="form-group">
            <label for="{{ bio_field.name }}">My bio</label>
            <textarea name="{{ bio_field.name }}" class="form-control" id="{{ bio_field.name }}">{{ bio_field.value }}</textarea>
          </div>

          <hr>

          <label for="{{ avatar.image.name }}">Avatar</label>
          <input type="file" name="file" id="{{ avatar.image.name }}" data-s3-direct-upload-field="file">
          <input type="hidden" name="{{ avatar.image.name }}" data-s3-direct-upload-field="file-url">

          <div class="progress invisible mt-3" data-s3-direct-upload="progress">
            <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" style="width: 100%"></div>
          </div>

          <button class="btn btn-primary mt-3">Update profile</button>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="card">
        <div class="card-header">Preview</div>
        <div class="card-body" data-s3-direct-upload-field="preview">
          {% if avatar.image.value %}
            <figure class="figure mr-3 w-25 mw-25 pr-3 border-right">
              <a href="{{ avatar.image.value }}" target="_blank">
                <img src="{{ avatar.image.value }}" width="200" class="figure-img img-fluid rounded">
              </a>
              <figcaption class="figure-caption">Your saved image</figcaption>
            </figure>
          {% endif %}
        </div>

        <div class="card-body border-top pt-3">
          Additional info about image from the server:
          <ul>
            <li>Field name: <code>{{ avatar.image.name }}</code></li>
            <li>Field value: <code>{{ avatar.image.value }}</code></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endform %}
