---
slug: multilanguage
layout_name: application
metadata:
  description: Example usage of translations to create multilanguage page.
  docs_slug: tutorials/translations/multilanguage-pages
---

<h2 data-result="1">{{ 'general.greeting' | t }}</h2>

<h3>Cars list:</h3>

{% assign cars = 'general.cars' | t | to_hash %}

<div data-result="2">
  <ul>
  {% for car in cars %}
  <li>{{ car }}</li>
  {% endfor %}
  </ul>
</div>

{% assign my_name = context.params.name | default: "Pawel" %}
{% assign url = context.params.url | default: "https://example.com" %}

<div data-result="3">
  <p>{{ 'personal.hello' | t: name: my_name, url: url }}</p>
</div>

<hr class="hr">

<div class="card mb-5">
  <div class="card-header">
    <h3>Language settings</h3>
  </div>
  <div class="card-body">
    <p>
      <i>context.params.language</i>: <b data-result="4">{{ context.params.language }}</b>
    </p>
    <p>
      <i>context.session.language</i>: <b data-result="5">{{ context.session.language }}</b>
    </p>
  </div>
</div>
