---
name: sign_in_with_recaptcha_v3
resource: Session
spam_protection:
  recaptcha_v3:
    action: signup
    minimum_score: 0.9
fields:
  email:
  password:
---
{% form html-class: 'w-50' %}
  {% spam_protection "recaptcha_v3", action: "signup" %}
  <div class="form-group">
    <label for="form_email">Email</label>
    <input class="form-control" name="{{ form.fields.email.name }}" value="{{ form.fields.email.value}}" id="form_email" type="email">
  </div>

  <div class="form-group">
    <label for="form_password">Password</label>
    <input class="form-control" name="{{ form.fields.password.name }}" id="form_password" type="password">
    {% if form.errors.password %}
      <p>{{ form.errors.password }}</p>
    {% endif %}
  </div>

  <div class="form-group">
    {{ form.errors.base }}
  </div>

  <button class="btn btn-primary">Log In</button>
{% endform %}
