---
name: create_programmer
fields:
  properties:
    name:
    email:
    title:
    specialties:
    company_id:
redirect_to: /geo/programmers
resource: modules/geo_models/programmer
resource_owner: anyone
async_callback_actions: {}
---
{% form %}
    <input required="true" name="{{ form_builder.fields.properties.email.name }}" id="email" type="text" placeholder="email">
    <input required="true" name="{{ form_builder.fields.properties.title.name }}" id="title" type="text" placeholder="title">
    <input required="true" name="{{ form_builder.fields.properties.expertise.name }}" id="expertise" type="text" placeholder="expertise">

    {% graphql gc = 'modules/geo_models/list_companies' %}
    <select name="{{ form_builder.fields.properties.company_id.name }}">
      {% for c in gc.companies.results %}
        {{ c }}
        <option value="{{c.id}}">{{c.properties.name}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="add programmer">
{% endform -%}
