{%- capture _flash -%}
{
  "notice": "{% if context.flash.notice %}{{ context.flash.notice }}{% elsif context.params.flash.notice %}{{ context.params.flash.notice }}{% else %}{% endif %}",
  "alert": "{% if context.flash.alert %}{{ context.flash.alert }}{% elsif context.params.flash.alert %}{{ context.params.flash.alert }}{% else %}{% endif %}",
  "error": "{% if context.flash.error %}{{ context.flash.error }}{% elsif context.params.flash.error %}{{ context.params.flash.error }}{% else %}{% endif %}",
  "info": "{% if context.flash.info %}{{ context.flash.info }}{% elsif context.params.flash.info %}{{ context.params.flash.info }}{% else %}{% endif %}"
}
{%- endcapture -%}

{%- assign flash = _flash | to_hash -%}

{%- capture _class_map -%}
{
  "notice": "success",
  "alert": "warning",
  "error": "danger",
  "info": "info"
}
{%- endcapture -%}

{%- assign _class_map_hash = _class_map | to_hash -%}
{%- assign keys = "notice,alert,error,info" | split: ',' -%}

{%- for key in keys -%}
  {%- if flash[key] != blank -%}
    <div class="container flash-messages w-100 px-0">
      <div class="alert alert-{{ _class_map_hash[key] }}">
        {{ flash[key] }}
      </div>
    </div>
  {%- endif -%}
{%- endfor -%}
