---
name: developer_sign_up
resource: User
return_to: /sign-in
fields:
  email:
  password:
  first_name:
    validation:
      presence: true
  profiles:
    developer:
      properties:
        mobile_number:
          validation:
            presence: true
      enabled:
        property_options:
          default: true
          readonly: true
      validation:
        presence: true
    validation:
      presence: true
email_notifications:
  - welcome_user
sms_notifications:
  - welcome_user
api_call_notifications:
  - ping_example_com_on_user_sign_up
flash_notice: You have signed up successfully.
---
{% form html-class: 'w-50' %}
  <div class="form-group">
    <label for="form_first_name">First name</label>
    <input class="form-control" name="{{ form_builder.fields.first_name.name }}" value="{{ form_builder.fields.first_name.value }}" id="form_first_name" type="text">
    {% if form_builder.errors.first_name %}
      <p>{{ form_builder.errors.first_name }}</p>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="form_email">Email</label>
    <input class="form-control" name="{{ form_builder.fields.email.name }}" value="{{ form_builder.fields.email.value }}" id="form_email" type="email">
    {% if form_builder.errors.email %}
      <p>{{ form_builder.errors.email }}</p>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="form_password">Password</label>
    <input class="form-control" name="{{ form_builder.fields.password.name }}" id="form_password" type="password">
    {% if form_builder.errors.password %}
      <p>{{ form_builder.errors.password }}</p>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="form_mobile_number">Mobile number</label>
    <input class="form-control" placeholder="Please include country code" name="{{ form_builder.fields.profiles.developer.properties.mobile_number.name }}" value="{{ form_builder.fields.profiles.developer.properties.mobile_number.value }}" id="form_mobile_number" type="text">
    {% if form_builder.fields.profiles.developer.properties.mobile_number.validation.errors %}
      <p>{{ form_builder.fields.profiles.developer.properties.mobile_number.validation.errors }}</p>
    {% endif %}
  </div>

  <input class="hidden" value="{{ form_builder.fields.profiles.developer.enabled.value }}" name="{{ form_builder.fields.profiles.developer.enabled.name }}" id="form_profiles_attributes_developer_attributes_enabled" type="hidden">

  <button class="btn btn-primary">Create</button>
{% endform %}
