---
name: credit_card_form
resource: CreditCard
redirect_to: /payments
fields:
default_payload: "{}"
callback_actions:
---

{%- query_graph 'modules/payments/get_payment_gateway', result_name: 'p' -%}
{% assign pub_key = p.payment_gateways.first.test_publishable_key %}
{% assign pub_key = p.payment_gateways.first.current_mode_publishable_key %}
{%- form -%}

  {% comment %} TODO: Rewrite to form_builder.errors {% endcomment %}
  {% if form.errors.base != blank %}
    <div class="form-error">{{ form.errors.base }}</div>
  {% endif %}

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ pub_key }}"
    data-name="PlatformOS"
    data-description="Example Credit Card Store"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>

  <input name="{{ form_builder.fields.payment_method_id.name }}" type="hidden" value="{{ p.payment_gateways[0].payment_methods[0].id }}">
  <input name="{{ form_builder.fields.payment_gateway_id.name }}" type="hidden" value="{{ p.payment_gateways[0].id }}">
  <input name="{{ form_builder.fields.credit_card_token.name }}" type="hidden" data-payment-form-token="true">

{% endform %}
