---
name: simple_payment_form
resource: Payment
redirect_to: /payments
fields:
  credit_card_token:
  with_charge:
  payer_id:
    validation:
      presence: true
  payment_method_id:
    validation:
      presence: true
  currency:
    validation:
      presence: true
  total_amount:
    validation:
      presence: true
      numericality:
        greater_than: 0
flash_notice: Payment successful!
flash_alert: Please fix validation errors
default_payload: |-
  {
    "credit_card_token": "{{ context.params.stripeToken }}",
    "with_charge": true
  }
---
{%- query_graph 'modules/payments/get_payment_gateway', result_name: "p" -%}

{% assign pub_key = p.payment_gateways.first.test_publishable_key %}
{% assign amount = 5.99 %}
{% assign amount_cents = amount | times: 100 %}

{%- form -%}
  {% if form_builder.errors.base != blank %}
    <div class="alert alert-danger">{{ form_builder.errors.base }}</div>
  {% endif %}

  <input name="{{ form_builder.fields.payment_method_id.name }}" type="hidden" value="{{ p.payment_gateways[0].payment_methods[0].id }}">
  <input name="{{ form_builder.fields.currency.name }}" type="hidden" value="USD">
  <input name="{{ form_builder.fields.total_amount.name }}" type="hidden" value="{{amount}}">
  <input name="{{ form_builder.fields.payer_id.name }}" type="hidden" value="{{current_user.id }}">

  <script async
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ pub_key }}"
    data-amount="{{ amount_cents }}"
    data-name="Near Me Marketplace"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
{% endform %}
