<script src="{{ 'modules/direct_s3_upload/UpdateProfileWithDirectUpload.js' | asset_url }}" defer></script>

{% comment %}
  Used to generate form fields
{% endcomment %}
{% assign profile = form_builder.fields.profiles.developer %}
{% assign avatar = profile.custom_images.avatar %}
{% assign banner = profile.custom_images.banner %}
{% assign image_s3_upload = avatar.image.s3_upload %}
{% assign bio_field = profile.properties.bio %}

{% comment %}
  Used to get field values from the database
{% endcomment %}
{% if context.current_user.id %}
  {% query_graph 'modules/direct_s3_upload/get_developer_images', result_name: 'g', user_id: context.current_user.id %}
  {% assign images = g.user.images %}
  {% assign avatar_url = images.avatar.url %}
  {% assign banner_url = images.banner.url %}
{% endif %}

<h2 id="#update-profile-with-direct-upload">Uploading Files Directly to Amazon S3 and using uploaded file as an avatar</h2>

{% form html-data-s3-direct-upload: 'form',  html-data-test: 'profile-form' %}
  {% for input in image_s3_upload.form_data %}
    <input type="hidden" name="{{ input[0] }}" value="{{ input[1] }}" data-s3-direct-upload-field="presign" disabled>
  {% endfor %}
  <input type="hidden" name="action" value="{{ image_s3_upload.direct_upload_url }}" disabled>

  <div class="row">
    <div class="col-12 col-md-4">

      <div class="card">
        <div class="card-header">Profile text field</div>
        <div class="card-body">
          <div class="form-group">
            <label for="{{ bio_field.name }}">My bio</label>
            <textarea name="{{ bio_field.name }}" class="form-control" id="{{ bio_field.name }}">{{ bio_field.value }}</textarea>
          </div>

          <hr>

          <label for="{{ avatar.image.name }}">Avatar</label>
          <input type="file" name="file" id="{{ avatar.image.name }}" data-s3-direct-upload-field-input="avatar">
          <input type="hidden" name="{{ avatar.image.name }}" data-s3-direct-upload-field-file-url="avatar">

          <div class="progress invisible mt-3" data-s3-direct-upload-progress="avatar">
            <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" style="width: 100%"></div>
          </div>

          <hr>

          <label for="{{ banner.image.name }}">Banner</label>
          <input type="file" name="file" id="{{ banner.image.name }}" data-s3-direct-upload-field-input="banner">
          <input type="hidden" name="{{ banner.image.name }}" data-s3-direct-upload-field-file-url="banner">

          <div class="progress invisible mt-3" data-s3-direct-upload-progress="banner">
            <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" style="width: 100%"></div>
          </div>

          <button class="btn btn-primary mt-3">Save changes</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-8">
      <div class="card">
        <div class="card-header">Preview</div>

        <div class="row">
          <div class="col-6 border-right">
            <div class="card-body" data-s3-direct-upload-field-preview="avatar">
              {% if avatar_url %}
                <figure class="figure mr-3 pr-3">
                  <p class="text-muted">Current avatar</p>
                  <a href="{{ avatar_url }}" target="_blank">
                    <img src="{{ avatar_url }}" alt="{{ avatar_url }}" width="200" class="figure-img img-fluid rounded">
                  </a>
                </figure>
                <hr class="hr">
              {% endif %}
            </div>
          </div>
          <div class="col-6">
            <div class="card-body" data-s3-direct-upload-field-preview="banner">
              {% if banner_url %}
                <figure class="figure mr-3 pr-3">
                  <p class="text-muted">Current banner</p>
                  <a href="{{ banner_url }}" target="_blank">
                    <img src="{{ banner_url }}" alt="{{ banner_url }}" width="200" class="figure-img img-fluid rounded">
                  </a>
                </figure>
                <hr class="hr">
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endform %}
