{% assign _errors = field.validation.errors %}
{% assign _index = index | default: 0 %}

{% comment %} Educated guess, to prevent not displaying anything if forgot + sensible default {% endcomment %}
{% capture _label -%}
  {%- if field.image.value != blank %} {{ field.image.value | split: '?' | first | split: '/' | last }}
  {%- elsif label == blank -%} {{ field.image.name | parameterize | split: '-' | last | titleize }}
  {%- else -%} {{ label }}
  {%- endif -%}
{%- endcapture %}

<div class="form-group">
  <div class="custom-file">
    <input
      type="file"
      class="custom-file-input {% if _errors != empty %}is-invalid{% endif %}"
      name="file"
      id="{{ field.image.name }}"
      accept="image/gif, image/jpeg, image/jpg, image/png"
    >

    <label class="custom-file-label" for="{{ field.image.name }}">
      {{ _label }}
    </label>

    {% if _errors != empty %}
      <p class="invalid-feedback">
        {{ _errors | join: ', ' }}
      </p>
    {% endif %}
  </div>
</div>
