---
name: project
resource: project
fields:
  name:
    validation:
      presence: true
  properties:
    deadline:
      validation:
        presence: true
    workplace_onsite:
      validation: {}
    workplace_online:
      validation: {}
    budget:
      validation:
        presence: true
    description:
      validation:
        presence: true
---
{% form %}

  <div>
    <label for="form_name"><abbr title="required">*</abbr> Name</label>
    <div>
      <input class="string required" name="{{ form.fields.name.name }}" value="{{ form.fields.name.value }}" id="form_name" type="text">
      {% if form.errors.name %}
        <p>{{ form.errors.name }}</p>
      {% endif %}
    </div>
  </div>

  <div>
    <label for="form_description"><abbr title="required">*</abbr> Description</label>
    <div>
      <textarea class="text required" name="{{ form.fields.properties.description.name }}" id="form_description">{{ form.fields.properties.description.value }}</textarea>
      {% if form.errors.description %}
        <p>{{ form.errors.description }}</p>
      {% endif %}
    </div>
  </div>

  <div>
    <label for="form_properties_attributes_workplace_online">Workplace online</label>
    <div>
      <input value="0" name="{{ form.fields.properties.workplace_online.name }}" type="hidden">
      <input class="boolean optional" value="1" name="{{ form.fields.properties.workplace_online.name }}" id="form_properties_attributes_workplace_online" type="checkbox" {% if form.fields.properties.workplace_online.value %}checked{% endif %}>
    </div>
  </div>

  <div>
    <label for="form_properties_attributes_workplace_onsite">Workplace onsite</label>
    <div>
      <input value="0" name="{{ form.fields.properties.workplace_onsite.name }}" type="hidden">
      <input class="boolean optional" value="1" name="{{ form.fields.properties.workplace_onsite.name }}" id="form_properties_attributes_workplace_onsite" type="checkbox" {% if form.fields.properties.workplace_onsite.value %}checked{% endif %}>
    </div>
  </div>

  <div>
    <label for="form_properties_attributes_budget"><abbr title="required">*</abbr> Budget</label>
    <div>
      <input class="string required" name="{{ form.fields.properties.budget.name }}" value="{{ form.fields.properties.budget.value }}" id="form_properties_attributes_budget" type="text">
    </div>
  </div>

  <div>
    <label for="form_properties_attributes_deadline"><abbr title="required">*</abbr> Deadline</label>
    <div>
      <input class="string required" placeholder="YYYY-mm-dd" name="{{ form.fields.properties.deadline.name }}" value="{{ form.fields.properties.deadline.value }}" id="form_properties_attributes_deadline" type="text">
      {% if form.errors['properties.deadline'] %}
        <p>{{ form.errors['properties.deadline'] }}</p>
      {% endif %}
    </div>
  </div>

  <button class="btn btn-primary mt-3">Save</button>

{% endform %}
